<!-- About Section -->
    <section id="about1">
        <div class="container">
            <div class="row about-head">
<h2>Welcome to <span class="son">Sonus Hearing Care Professionals</span></h2>
            </div>

            <div class="row">
              <div class="col-md-6  about-img">
                  <img src="img/about-img.jpg" alt="about image" class="img-responsive"> 
              </div>
              <div class="col-md-6 about-text">
                  <p>
Where our goal is to help you with a variety of hearing needs. For over 20 years, we’ve served residents in San Diego with hearing aids, tinnitus management, assistive listening devices, and more.
                  </p>
                  <p>Our office focuses on providing quality care with a compassionate touch. We honor the needs and priorities of each individual because we understand that hearing is not a one size fits all approach. Sonus Hearing Care Professionals accepts 95% of popular insurance plans and is here to help with your hearing needs.</p>

                  <p>Sonus works hard to make hearing easy, and it’s our goal to offer treatment, education, and support to make each day more enjoyable. Hearing impairment affects each individual in a different way, and we pride ourselves on taking the time to understand your unique needs and concerns. </p>

                  <p>Since 1998 we’ve partnered with trusted brands in the hearing industry, giving our patients the ability to select the hearing aid that’s right for them. Whether you’re in need of an advanced device or need an accessory to help with daily tasks, we provide expert care in a comfortable setting. Our professionals have 20 years of experience both fitting and adjusting hearing aids while providing honest and thoughtful care.</p>
              </div>
            </div>
        </div>
    </section>