<!-- Navigation -->

<div class="top-head" id="header">
<div class="container">
<div class="row">
<div class="col-md-6 col-xs-12 logo">
    <a href="tel:18884576687"><img src={{site.logo}} alt="logo" class="image-fluid"></a>
</div>
<div class="col-md-4 col-xs-12 col-md-offset-2 phone">
        <img src="img/phone.png" alt="phone" class="image-fluid">
</div>
</div>
</div>
</div>
    <!-- Header -->
    <header>
   
        <div class="container">
            <div class="row hero">
         <div class="col-md-7 hero-text">
             <h2>We have been helping the <span class="san">San Diego</span> Community Hear better for the last 20 years!</h2>
             <p>Get an Affordable & Personalized Hearing Aid (specially designed for you)</p>
             <h4>Solutions offered:</h4>
             <ul class="ul-cus">
              <li>We specialize in getting to the root of your hearing concerns with a personal and caring approach.</li>
              <li>We offer repairs, maintenance, and professional cleanings for all makes and models of hearing aids</li>
              <li>At Sonus our team of experienced professionals will work with you to develop a treatment plan that meets your needs</li>
              <li>We make it a priority to spend time fitting and programming your aids.</li>
              <li>Here are additional benefits offered with certain Sonus Solutions®. </li>
             </ul>

         </div>
        <div class="col-md-5" id="appointment">
          <div class="form-cus">
         <h3>Schedule your consultation today</h3>

    <form action="https://formspree.io/sonushearingsd@gmail.com" method="POST">
    <label for="fname" class="left">Name *</label>
    <input type="text" id="fname" name="name" placeholder="Your name.." required>

    <label for="lname">Email *</label>
    <input type="email" id="lname" name="email" placeholder="Your email.." required>

    <label for="lname">Phone Number *</label>
    <input type="number" id="lname" name="number" placeholder="Your phone number.." required>

    <label for="subject">Comments *</label>
    <textarea  id="subject" name="subject" placeholder="Message.." style="height:200px"></textarea>

    <input type="submit" value="Request an appointment now!" class="button3 button4" id="submit">
  </form>

          </div>
        </div>
             
            </div>
        </div>
 
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->      </header>

