<!--speak to expert starts-->
<section class="expert">
<div class="container">
<div class="row expert-head">
<h3>Speak to a hearing aid	 expert now</h3>
</div>
<div class="row">
<div class="col-md-6 expert-ph">
<img src="img/icon1.png" height="60" alt="phone icon" class="img-fluid">	
<h3>1-888-457-6687</h3>
</div>
<div class="col-md-6 hours">
	<p class="ex-h">Hours of Operation<br>
	<span class="ex-w">Monday - Friday : 8:30am - 5:00pm.</span> <br>
	<span class="ex-w">Saturday and Sunday : Closed</span></p>
</div>
</div>



</div>
</section>